#action-crawl {
  background: #e2edf9;
  color: #425577;
  height: 100vh;
}

#action-crawl .title {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.25;
  color: #425577;
}

a {
  color: #6d48e5;
}

input.form-control {
  border-radius: 0 !important;
  background: none;
  border: none;
  border-bottom: 1px solid #959595 !important;
  padding-left: 0;
  box-shadow: none;
  color: #fff;
  margin-right: 25px;
  padding: 15px 0px 15px 0px;
  font-size: 12px;
}

.form-control:focus {
  color: #495057;
  background-color: transparent;
  border-bottom: 1px solid #6d48e5 !important;
  outline: 0;
  box-shadow: none !important;
  transition: all ease-in 0.4s;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  box-shadow: -3px -3px 25px #fff, 2px 2px 20px #b1c1ce;
}

@media screen and (max-width: 768px) {
  .btn {
    padding: 15px 65px;
    font-size: 14px;
  }
}

.btn-action {
  font-family: "Montserrat";
  display: inline-block;
  padding: 18px 65px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 2px;
  margin: 25px 0;
  text-transform: uppercase;
  text-decoration: none !important;
  white-space: nowrap;
  cursor: pointer;
  background: #6d48e5 !important;
  color: #ffffff !important;
  border: 1px solid transparent !important;
  border-radius: 35px;
  box-sizing: border-box;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.btn-action:hover {
  background: #fff !important;
  color: #6d48e5 !important;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 100, 0.2);
  border: 1px solid #6d48e5 !important;
  outline: none !important;
  text-decoration: none;
}

.btn-action:focus,
.btn-action:active {
  background: #fff;
  color: #6d48e5;
  border: 1px solid transparent !important;
  outline: none !important;
}

.txt_15 {
  font-size: 1.5rem;
}

.txt_25 {
  font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
  .txt_15 {
    font-size: 1rem;
  }
  .txt_25 {
    font-size: 1.5rem;
  }
}

.btn_color_2 {
  background: linear-gradient(
    180deg,
    #feb692 -98.18%,
    #ea5455 185.94%
  ) !important;
  box-shadow: none !important;
}

.btn_color_2:hover {
  color: #ea5455 !important;
  background: #fff;
  border: 1px solid #ea5455 !important;
}

.box_shadow {
  -webkit-box-shadow: 3px 10px 85px 0px rgba(219, 219, 219, 1);
  -moz-box-shadow: 3px 10px 85px 0px rgba(219, 219, 219, 1);
  box-shadow: 3px 10px 85px 0px rgba(219, 219, 219, 1);
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .box_shadow {
    box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1),
      0 3px 6px 0 rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1),
      0 3px 6px 0 rgba(0, 0, 0, 0.07);
  }
}

/* application css */

/* end application css */

/* sign_in page */

.sign_in,
.sign_up {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign_in .form_group,
.sign_up .form_group {
  width: 100%;
}

.signin_form,
.signup_form {
  width: 100%;
  padding: 40px;
}

.signin_intro,
.signup_intro {
  background: url("../images/background1x1.png") center center no-repeat;
  height: 100%;
  width: 100%;
  color: #fff;
  padding: 40px;
  position: relative;
  border-radius: 0px 10px 10px 0px;
}

.signin_intro .wrapper_img,
.signup_intro .wrapper_img {
  position: absolute;
  bottom: -20%;
  right: -15%;
  max-width: 200px;
}

@media screen and (max-width: 767px) {
  .sign_in,
  .sign_up {
    width: 90%;
    height: auto;
    margin: 60px auto;
  }
  .signin_form,
  .signup_form {
    padding: 60px 10px 60px 10px;
  }
  .signin_intro,
  .signup_intro {
    padding: 60px 10px 60px 10px;
    border-radius: 0px 0px 10px 10px;
  }
  .signin_intro .wrapper_img,
  .signup_intro .wrapper_img {
    position: absolute;
    bottom: -10%;
    right: -10%;
    max-width: 100px;
  }
}

.remember_pw,
.forgot_pw {
  font-size: 12px;
}

@media screen and (max-width: 575px) {
  .signin_intro .wrapper_img,
  .signup_intro .wrapper_img {
    position: absolute;
    bottom: -10%;
    right: -4%;
    max-width: 100px;
  }
  .remember_pw,
  .forgot_pw {
    font-size: 10px;
  }
}

.password_group {
  position: relative;
}

.password_group .input-group-addon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

/* end sign_in page */

/* sign_up page */

.confirm_terms {
  color: #6e6e6e;
  font-weight: 400;
}

.list_items {
  width: 100%;
}

.list_items .item {
  display: flex;
  margin-bottom: 10px;
}

.list_items .item .item_icon {
  flex: 20%;
}

.list_items .item .item_title {
  flex: 80%;
}

.list_items .item .item_icon img {
  width: 64px;
}

/* end sign_up page */

/* forgot password */

.forgot_password {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/background.png) no-repeat center center;
  background-size: cover;
}

.forgot_password_form {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  position: relative;
  width: 100%;
}

.forgot_password_form .forgot_password_icon {
  position: absolute;
  top: -10%;
  right: -10%;
  max-width: 100px;
}

.password_wraning {
  color: #9b9b9b;
}

.password_wraning span {
  color: #6d48e5;
}

@media screen and (max-width: 767px) {
  .forgot_password {
    width: 100%;
  }
  .forgot_password_form {
    padding: 60px 30px 10px 30px;
  }
  .forgot_password_form .forgot_password_icon {
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80px;
  }
}

/* end forgot password */

/* Link reset password */

.reset_link {
  color: #6d48e5;
}

.reset_link span {
  font-weight: 600;
}

/* end link reset password */
